<!DOCTYPE html>
{% extends 'testapp/home.html' %}
{% block body_block %}
<h1 class="list d-flex justify-content-center mt-2">All Students Who joined Python course</h1>
<table class="table table-bordered">
    <tr class="text-white table-secondary">
        <th>Student Name</th>
        <th>Student rollno</th>
        <th>Student Subject</th>
        <th>Student Dob</th>
        <th>Student Phoneno</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.rollno }}</td>
        <td>{{ student.subject }}</td>
        <td>{{ student.dob }}</td>
        <td>{{ student.phoneno }}</td>
    </tr>
    {% endfor %}


    
</table>

{% endblock %}