<!DOCTYPE html>
{% extends 'testapp/home.html' %}
{% load static %}
{% block body_block%}
<h1 class="d-flex justify-content-center mt-3"> Do you really want to delete Student {{ student.name }}?</h1>
<div class="d-flex justify-content-center ">
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <div class="d-flex justify-content-center mt-3">
    <input class="btn btn-danger" name="" type="submit" value="Delete Student">
    <a class="btn btn-success ms-2"href="/adminstudents">Don't delete</a>
</div>
</form>
</div>

{% endblock %}